name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y cmake g++ clang-format python3 python3-pip python3-venv
    - name: Format check
      run: make format
    - name: Run make
      run: make